.search__input {
  max-width: 288px;
  max-height: 56px;
  background: #fff;
  border: 1px solid #d1d2d6;
  border-radius: 100px;
  box-sizing: border-box;
  backdrop-filter: blur(100px);
  margin-bottom: 16px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  padding: 16px;
  caret-color: #2f71e5;
}

.search__input::placeholder {
  color: #b6bcbf;
}

@media (min-width: 768px) {
  .search__input {
    min-width: 448px;
    margin-bottom: 0;
    padding: 24px;
  }
}

@media (min-width: 1440px) {
  .search__input {
    min-width: 608px;
    max-height: 64px;
  }
}