.about__image {
  width: 272px;
  height: 272px;
  margin-bottom: 24px;
  border-radius: 1000px;
  align-self: center;
}

@media (min-width: 768px) {
  .about__image {
    width: 232px;
    height: 232px;
    margin-bottom: 0;
    margin-right: 32px;
  }
}

@media (min-width: 1440px) {
  .about__image {
    width: 464px;
    height: 464px;
    margin-right: 56px;
  }
}