.articles__icon_theme_trash {
  background-image: url(../../../../images/icon-trash-normal.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.articles__icon_theme_trash:hover {
  background-image: url(../../../../images/icon-trash-hover.png);
}