.articles__icon_theme_saved {
  background-image: url(../../../../images/icon-normal.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.articles__icon_theme_saved:hover {
  background-image: url(../../../../images/icon-hover.png);
}