@import url(./_theme/articles__image_theme_one.css);
@import url(./_theme/articles__image_theme_two.css);
@import url(./_theme/articles__image_theme_three.css);
@import url(./_theme/articles__image_theme_four.css);
@import url(./_theme/articles__image_theme_five.css);
@import url(./_theme/articles__image_theme_six.css);

.articles__image {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 288px;
  height: 196px;
}

@media (min-width: 768px) {
  .articles__image {
    max-width: 224px;
    height: 150px;
  }
}

@media (min-width: 1440px) {
  .articles__image {
    max-width: 400px;
    height: 272px;
  }
}