@import url(./__header/page__header.css);
@import url(./__search/page__search.css);
@import url(./__articles/page__articles.css);
@import url(./__about/page__about.css);
@import url(./__footer/page__footer.css);
@import url(./__content/page__content.css);
@import url(./__results/page__results.css);

.page {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}