.content__subtitle {
  color: #1a1b22;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

@media (min-width: 768px) {
  .content__subtitle {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .content__subtitle {
    font-size: 18px;
  }
}