.search__title {
  width: 285px;
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .search__title {
    width: 385px;
  }
}

@media (min-width: 1440px) {
  .search__title {
    width: 608px;
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 32px;
  }
}