@media (min-width: 768px) {
  .menu__link_type_active {
    border-bottom: 3px solid;
    padding-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .menu__link_type_active {
    padding-bottom: 24px;
  }
}