.page__about {
  padding: 32px 16px 254px;
}

@media (min-width: 768px) {
  .page__about {
    padding: 40px 40px 125px;
  }
}

@media (min-width: 1440px) {
  .page__about {
    padding: 80px 216px 160px 104px;
  }
}