.search__button {
  min-width: 288px;
  min-height: 56px;
}

.search__button:hover {
  background: #347eff;
}

.search__button:active {
  background: #2a65cc;
}

@media (min-width: 768px) {
  .search__button {
    min-width: 160px;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1440px) {
  .search__button {
    min-width: 168px;
    min-height: 64px;
  }
}