.footer__info {
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .footer__info {
    width: 264px;
    display: flex;
    justify-content: space-around;
    margin-right: 24px;
  }
}

@media (min-width: 1440px) {
  .footer__info {
    width: 304px;
    margin-right: 40px;
  }
}