.error {
  font-family: Inter, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  display: block;
  height: 14px;
  margin: 3px 0 13px;
}

.error.error__last {
  margin-bottom: 0;
}