.articles__item-title {
  color: #1a1b22;
  font-family: Roboto Slab, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .articles__item-title {
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .articles__item-title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 16px;
  }
}