.page__search {
  padding: 30px 16px 32px;
}

@media (min-width: 768px) {
  .page__search {
    padding: 38px 16px 48px;
  }
}

@media (min-width: 1440px) {
  .page__search {
    padding: 80px 16px;
  }
}