@import url(./_theme/articles__container_theme_articles.css);
@import url(./_theme/articles__container_theme_main.css);

.articles__container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, 288px);
  grid-template-rows: 440px;
  justify-content: center;
}

@media (min-width: 768px) {
  .articles__container {
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, 224px);
    grid-template-rows: 420px;
    justify-content: flex-start;
  }
}

@media (min-width: 1440px) {
  .articles__container {
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: 576px;
  }
}