.articles__button {
  min-width: 288px;
  min-height: 56px;
  border: 0;
  border-radius: 80px;
  background: #fff;
  color: #1a1b22;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles__button:hover {
  opacity: .7;
}

@media (min-width: 768px) {
  .articles__button {
    min-width: 240px;
  }
}

@media (min-width: 1440px) {
  .articles__button {
    min-width: 288px;
    min-height: 64px;
  }
}