.popup__input {
  color: #000;
  width: 100%;
  height: 47px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10px 0;
}

.popup__input::placeholder {
  opacity: 0.2;
}