.page__header {
  padding: 16px;
}

@media (min-width: 768px) {
  .page__header {
    padding: 22px 40px 20px;
  }
}

@media (min-width: 1440px) {
  .page__header {
    padding: 30px 104px 26px;
  }
}