.about__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}

.about__text:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .about__text {
    max-width: 900px;
  }
}

@media (min-width: 1440px) {
  .about__text {
    max-width: 600px;
  }
}