.content__title {
  color: #1a1b22;
  font-family: Roboto Slab, serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 16px;
  max-width: 336px;
}

@media (min-width: 768px) {
  .content__title {
    max-width: 336px;
  }
}

@media (min-width: 1440px) {
  .content__title {
    max-width: 530px;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 30px;
  }
}