.content__caption {
  color:rgba(26, 27, 34, 0.5);
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .content__caption {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1440px) {
  .content__caption {
    font-size: 18px;
    margin-bottom: 28px;
  }
}