@import url(./__title/header__title.css);
@import url(./_type/header_type_inactive.css);
@import url(./_theme/header_theme_articles.css);
@import url(./_theme/header_theme_main.css);

.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .header {
    height: 66px;
  }
}

@media (min-width: 1440px) {
  .header {
    height: 80px;
  }
}