@import url(./_type/menu__button_type_auth.css);
@import url(./_type/menu__button_type_exit.css);
@import url(./_theme/menu__button_theme_articles.css);
@import url(./_theme/menu__button_theme_main.css);

.menu__button {
  min-height: 56px;
  background: none;
  margin: 0 auto;
  margin-top: 22px;
}

@media (min-width: 768px) {
  .menu__button {
    min-height: 40px;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .menu__button {
    min-height: 48px;
  }
}